.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px;
  background-color: var(--footer-background);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  text-align: center;
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $TertiaryTextColor;
}

.hero__button {
  padding: 10px 32px;
  margin: auto;
}
