.page-footer {
  background-color: $SecondaryBackground;
  padding: 60px 0;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  row-gap: 60px;

  @media screen and (min-width: $TabletMinWidth) {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
  }

  @media screen and (min-width: $DesktopMinWidth) {
    flex-wrap: nowrap;
    align-items: baseline;
  }
}

.page-footer__socials {
  text-align: center;

  @media screen and (min-width: $TabletMinWidth) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: $DesktopMinWidth) {
    width: calc((100% - 90px) / 4);
    text-align: start;
  }
}

.page-footer__label {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $TertiaryTextColor;
}

.page-footer__social-list {
  @media screen and (min-width: $DesktopMinWidth){
      justify-content: start;
  }
}

.company-info {
  text-align: center;

  @media screen and (min-width: $TabletMinWidth) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: $DesktopMinWidth) {
    width: calc((100% - 90px) / 4);
    text-align: start;
  }
}

.company-info__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.company-info__address {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.company-info__list {
}

.company-info__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.company-info__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  transition: color $TransitionFunc;

  &--white {
    color: $TertiaryTextColor;
  }

  &:hover,
  &:focus {
    color: $PrimaryAccentColor;
  }
}
