.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header__logo {
  @media screen and (min-width: $TabletMinWidth) {
    margin-right: 87px;
  }

  @media screen and (min-width: $DesktopMinWidth) {
    margin-right: 90px;
  }
}

.page-header__toggle {
  min-height: 40px;
  min-width: 40px;
  @include flex-centered();
  margin: 10px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  &:hover, &:focus {
    color: $PrimaryAccentColor;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.page-header__open-icon {
  fill: currentColor;
}

.page-header__menu {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.nav {
  display: flex;
  gap: 50px;
}

.nav__item {
}

.nav__link {
  display: block;
  width: 100%;
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: $SecondaryTextColor;
  transition: color $TransitionFunc;

  &--current {
    color: $PrimaryAccentColor;
    position: relative;

    &::after {
      content: "";
      height: 4px;
      width: 100%;
      position: absolute;
      bottom: -1px;
      right: 0;
      border-radius: 2px;
      background-color: $PrimaryAccentColor;
    }
  }

  &:hover,
  &:focus {
    color: $PrimaryAccentColor;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 30px;
  }
}

.contacts__item {
}

.contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &:hover,
  &:focus {
    color: $PrimaryAccentColor;
  }
}

.contacts__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
}
