.button {
  @include flex-centered();
  height: 50px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
  border-radius: 4px;

  border-color: transparent;
  background-color: $PrimaryAccentColor;
  color: $TertiaryTextColor;

  transition: background-color $TransitionFunc;

  &:hover, &:focus {
    background-color: $SecondaryAccentColor;
  }
}

.button__icon {
    width: 24px;
  height: 24px;
  fill: currentColor;

  &--after {
    margin-left: 10px;
  }
}