.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform $TransitionFunc;
  padding: 40px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.6);
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  @include flex-centered();
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__close-icon {
  display: block;
  height: 18px;
  width: 18px;
  fill: currentColor;

  .modal__close-btn:hover &,
  .modal__close-btn:focus & {
    color: $PrimaryAccentColor;
  }
}

.modal__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: $SecondaryTextColor;
}
