.teammate-card {
  width: calc((100% - 90px) / 4);
  font-size: 16px;
  background-color: $TertiaryTextColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teammate-card__photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.teammate-card__footer {
  padding: 30px;
}

.teammate-card__title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  text-transform: none;
  letter-spacing: 0.03em;

  color: $SecondaryTextColor;
}

.teammate-card__position {
  margin-bottom: 16px;

  font-weight: 400;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}