
$MainBackground: #f5f5f5;
$PrimaryBackground: #f5f4fa;
$SecondaryBackground: #2f303a;

$PrimaryBorderColor: #afb1b8;

$PrimaryTextColor: #757575;
$SecondaryTextColor: #212121;
$TertiaryTextColor: #FFFFFF;
$PrimaryAccentColor: #2196f3;
$SecondaryAccentColor: #188ce8;

$TransitionFunc: 250ms cubic-bezier(0.4, 0, 0.2, 1);